{
	"env": {
    "es": {
      "presets": [
        ["env", {
          "useBuiltIns": false,
          "modules": false
        }],
			'react'
      ],
      "plugins": ["transform-object-rest-spread"]
    }
  }
}
